# Compare the Jinja variable and Python variable Scope in the Snowflake Notebook

+ The Python variable scope is whole notebook. That is, when it is defined, its value will be avaliable anywhere after it is defined.

+ The Jinja  variable scope is within the cell. That is, when it is defined in the cell, its value will be avaliable wihtin the cell, It will becoame un-defined outside the cell 

### Therefore, we have to defiine/set the varibales {{ env }} as Python varibale in the first line the file.  rather than the Jionja variable

In [ ]:
MODE = 'dev'
print ('The MODE is Set to: ' + MODE)

In [ ]:
--
-- Jinja variubale only work within this definition cell . 

{% set env = 'prod' %}

SELECT ' Set Environment to: {{ env }} !' AS Col1
UNION ALL 
SELECT 'CREATE DATABASE {{env}}_DB;' as Col1;

In [ ]:
SELECT ' Set MODE to: {{ MODE }} !' AS Col1
UNION ALL 
SELECT 'CREATE DATABASE {{MODE}}_DB;' as Col1;

In [ ]:
-- Jinja variubale will not work out the definition cell. 

SELECT ' Set Environment to: {{ env }} !' AS Col1
UNION ALL 
SELECT 'CREATE DATABASE {{env}}_DB;' as Col1;